auto-save-list
backups
ido.last
places

\#*\#
\.\#*


.emacs.desktop
.emacs.desktop.lock

backups/*

#constantly changing files
ac-comphist.dat
elpa/archives/*
ido.last
places
server
server/.*
archive-contents
archive-contents.signed
