auto-save-list
backups
ido.last

\#*\#
\.\#*


.emacs.desktop
.emacs.desktop.lock

backups/.*

#constantly changing files
ac-comphist.dat
elpa/archives/gnu/archive-contents
elpa/archives/melpa/archive-contents
ido.last
places

